#textdomain wesnoth-NX-RPG

#define DOOR_TILES_TO_UNITS _DOOR_OWNER_SIDE
    [kill]
        type=Gate
        animate=no
    [/kill]
    [store_locations]
        terrain="*^Ng\"
        [or]
            terrain="*^Ng/"
        [/or]
        [not]
            x=$excluded_gates.x
            y=$excluded_gates.y
        [/not]
        variable=door_tilemap_store
    [/store_locations]
    {FOREACH door_tilemap_store k}
        [unit]
            side={_DOOR_OWNER_SIDE}
            [modifications]
                {TRAIT_MECHANICAL}
            [/modifications]
            type=Gate
            x=$door_tilemap_store[$k].x
            y=$door_tilemap_store[$k].y
            id=door_at_x$door_tilemap_store[$k].x|_y$door_tilemap_store[$k].y|
        [/unit]
    {NEXT k}
    {CLEAR_VARIABLE door_tilemap_store}
#enddef

# Places a unit on the map with boosted stats
#define BOOSTED_UNIT SIDE TYPE X Y ROLE MP HP MA MD RA RD RES
    [unit]
        side={SIDE}
        type={TYPE}
        x={X}
        y={Y}
        random_traits=no
        role={ROLE}
        [modifications]
            [object]
                silent=yes
                [effect]
                    apply_to=movement
                    increase={MP}
                [/effect]
                [effect]
                    apply_to=hitpoints
                    increase={HP}
                    increase_total={HP}
                [/effect]
                [effect]
                    apply_to=attack
                    range=melee
                    increase_attacks={MA}
                    increase_damage={MD}
                    duration=forever
                [/effect]
                [effect]
                    apply_to=attack
                    range=ranged
                    increase_attacks={RA}
                    increase_damage={RD}
                    duration=forever
                [/effect]
                [effect]
                    apply_to=resistance
                    replace=no
                    [resistance]
                        blade=-{RES}
                        pierce=-{RES}
                        impact=-{RES}
                        fire=-{RES}
                        cold=-{RES}
                        arcane=-{RES}
                    [/resistance]
                [/effect]
            [/object]
        [/modifications]
    [/unit]
#enddef

#define GUARDIAN
    [+unit]
        ai_special=guardian
    [/unit]
#enddef

#ifndef FACING
#define FACING DIRECTION
    # Meant to be used as a suffix to a unit-generating macro call.
    [+unit]
        facing={DIRECTION}
    [/unit]
#enddef
#endif
