#textdomain wesnoth-NX-RPG

[campaign]
    id=Revenge_from_the_Shadows_1
    abbrev= _ "RftS-1"
    name= _ "Revenge from the Shadows:"+"
"+"Episode I: Flight"
    icon="data/add-ons/NX-RPG/images/nx-icon-episode1.png~RC(magenta>blue)"
    image="data/add-ons/NX-RPG/images/nx-logo-episode1.png"
    rank=260
    first_scenario=01_Awakening

    define=CAMPAIGN_REVENGE_FROM_THE_SHADOWS
    extra_defines=CAMPAIGN_REVENGE_FROM_THE_SHADOWS_EPISODE_I
    version={~add-ons/NX-RPG/dist/VERSION}

    description= _ "A shadow lengthens across the land; an evil foe has returned to seek his revenge. Rhyan and his band must travel across a land none of them know to stop him and save the Empire of Wesnoth, even as their enemy may have schemes that involve them themselves."+"

"+_"(Intermediate level, 2 of 13 scenarios complete.)"+{NX_SHARED_DESCRIPTION_FOOTER}

    difficulties=EASY,NORMAL,HARD,NIGHTMARE
    difficulty_descriptions={MENU_IMG_TXT2 "units/undead/ghost-s-2.png~RC(magenta>blue)" _"difficulty_menu^Ghost" ("<span color='#888'>"+_"(Easy)"+"</span>")} + ";*" + {MENU_IMG_TXT2 "units/undead-necromancers/dark-sorcerer-attack-staff-2.png~RC(magenta>blue)" _"difficulty_menu^Dark Sorcerer" ("<span color='#888'>"+_"(Normal)"+"</span>")} + ";" + {MENU_IMG_TXT2 "units/undead-skeletal/banebow-melee-attack-3.png~RC(magenta>blue)" _"difficulty_menu^Banebow" ("<span color='#888'>"+_"(Hard)"+"</span>")} + ";" + {MENU_IMG_TXT2 "units/undead-necromancers/ancient-lich-magic-3.png~RC(magenta>blue)" _"difficulty_menu^Ancient Lich" ("<span color='#888'>"+_"(Nightmare)"+"</span>")}

    end_text= _ "To be continued..."

    {~add-ons/NX-RPG/about.cfg}
[/campaign]
